<div class="row">
	<div class="span10">
	  	<div class="hero-unit">
			<img src="{{ ASSET_PATH }}twitter/img/ava150.png" class="thumbnail" align="left" alt="Avatar" />
			<h1>Hi there!</h1>
			<p>I'm Kozie, a passionate coder and full-time nerd.<br/>Interests: Webdevelopment and a bit of Game Coding!</p>
			<p>
				<a href="http://twitter.com/kozie87" class="btn btn-primary" target="_blank"><i class="icon-comment icon-white"></i> Twitter</a>&nbsp;
				<a href="https://plus.google.com/101989894952488005191/" class="btn btn-danger" target="_blank"><i class="icon-plus icon-white"></i> Google+</a>
			</p>
		</div>

		{{ content }}
	</div>
</div>