<div class="row">
	<div class="span10">
	  	<div class="hero-unit">
			<img src="{{ ASSET_PATH }}twitter/img/ava150.png" class="thumbnail" align="left" alt="Avatar" />
			<h1>Hi there!</h1>
			<p>I'm Kozie, a passionate coder and full-time nerd.<br/>Interests: HTML5, JS, CSS3, a bit of Game Coding and Pixels!</p>
			<p>
				<a href="http://twitter.com/kozie87" class="btn btn-primary btn-small" target="_blank"><i class="icon-twitter icon-white icon-large"></i>&nbsp;Twitter</a>&nbsp;
				<a href="http://plus.google.com/101989894952488005191/" class="btn btn-danger btn-small" target="_blank"><i class="icon-google-plus icon-white icon-large"></i>&nbsp;Google+</a>&nbsp;
				<a href="http://github.com/kozie" class="btn btn-inverse btn-small" target="_blank"><i class="icon-github-alt icon-white icon-large"></i>&nbsp;GitHub</a>
			</p>
		</div>

		{{ content }}
	</div>
</div>